html, body { height:100%; border:none; }
body { margin:0.5em; padding:0; height:100%; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; line-height: 15px; background-color: #ffffff; }
pre.codeexample {	background-color: #E1F5A9; border: 1px solid black; border-radius: 3px; padding-left: 0.5em; }
div.codesource  {	display:none; background-color: #E6E6E6; border: 1px solid black; border-radius: 3px; padding-left: 0.5em; }
